.container_ListMusic section {
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

.container_ListMusic section div {
  margin-right: 10px
}

.container_ListMusic img {
  width: 50px;
  padding-top: 45%;
}

.container_ListMusic p:hover {
  cursor: pointer;

}

#iconeHeart:active {
  animation: shake .1s;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}