.container_profile {
    display: flex;
    justify-content: space-between;
}

.profile_user{
    background-color:transparent;
    margin-right: 2%;
    z-index: 1;   
}

#title{
    background-color: black;
    width: 15%;
    padding: 10px;
}

.container_profile h1 {
    font-size: 2.2em;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container_profile p{
    padding: 1px;
}

.container_profile p:hover{
    cursor: pointer;
}

.container_menu {
    position: fixed;
    background-color: #000000;
    width: 15%;
    height: 100%;
    padding: 10px;
    color: rgb(255, 255, 255);
}


.container_menu ul {
    padding: 5px;
    margin: 0;
}

.container_menu ul li {
    display: inline-block;
    align-items: center;
}

.container_menu ul li {
    list-style-type: none;
    margin-top: 10px;
}


.container_menu ul a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #a1a1a1;
    transition: .3s ease-in-out;

}

.container_menu a:hover {
    color: #ffffff;
    transition: .3s ease-in;
}

