.container_Register {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, var(--cor-primaria), #000000);
}


.container_Register header h1 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container_input {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    padding: 50px;
}

.container_input label {
    display: block;

}

.container_input input {
    margin-top: 10px;
    display: block;
    padding: 10px;
    border-radius: 20px;
}

.container_input button {
    width: 200px;
    margin-top: 10%;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--cor-primaria);
    color: #ffffff;
    box-shadow: 1px 3px 3px 1px #000000;
    border: none;
    transition: .3s ease-in-out;
}

.container_input button:hover {
    cursor: pointer;
    transition: .3s ease-out;
    transform: scale(1.1);
}

.container_input a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 5%;
    color: #ffffff;
    text-transform: uppercase;
}

.active {
    border-bottom: 2px solid var(--cor-primaria);
}