@media (min-width: 601px) {
    .container_mobile {
      display: none;
    }
  
    .menuFooter {
      display: none;
    }
  
    .container_recents {
      grid-template-columns: repeat(5, 200px);
    }
  
    .container_home {
      margin-left: 20%;
      top: -70px;
    }
  
    .container_recents img {
      width: 150px;
    }
  
    .container_recentsMap {
      padding: 10px;
    }
  
    .container_mobileAudio {
      position: fixed;
      text-align: center;
      bottom: 60px;
      width: 100%;
      padding: 10px;
      height: 2.5rem;
    }
  }
  
  @media (max-width: 600px) {
    /* Remove Perfil User e o menu do pc */
    #RemoveForMobile {
      display: none;
    }
  
    /* Barra menu mobile on */
    .container_mobile {
      display: flex;
      align-items: center;
      position: none;
      z-index: 1;
      text-align: center;
      width: 95%;
      justify-content: space-between;
    }
  
    .container_home {
      margin: 0;
      top: 0px;
    }
  
    .container_recents {
      grid-template-columns: repeat(2, 200px);
      margin-bottom: 20%;
    }
  
    .container_recentsMap {
      padding: 5px;
      width: 150px;
    }
  
    .container_recents img {
      width: 150px;
    }
  
    /* Busca de musica */
    .container_search {
      margin-left: 0;
      justify-content: center;
      text-align: center;
    }
  
    .container_search input {
      position: relative;
      margin-top: 0%;
      width: 70%;
      border-radius: 10px;
    }
  
    /* Mudar posição do carregamento da list bet */
    .container_musicList {
      display: inline-block;
    }
  
    /* Posição audio */
    .container_mobileAudio {
      position: relative;
      text-align: center;
      bottom: 0;
      width: 100%;
      padding-bottom: 70px;
    }
  }
  
  @media (max-width: 370px) {
    .menuFooter {
      margin-top: 0%;
    }
  }
  